*{ margin:0; padding:0;}
body {
    background-color: #FBF4DE;
    background-size: 100%;

}

#scoreBoard{
    width: 400px;
    height: 50px;
    margin-left: 140px;
    margin-top: 80px;
}
#game{ 
    background-color: #F3F3F3;
    position:absolute;
    left:0;right:0; top:0; bottom:0;
    margin:auto;
    border:1px solid #000;
    font-size: 0;
}

.btn {
    color:black;
    font-size: 25px;
    margin-top: 200px;
    margin-right: 10px;
    margin-left: 10px;
    width: 150px;
    height: 70px;
    background-color: #F76D4F;
    border-radius: 50px;
}
.btn:hover {
    background-color:#FFB871;
}

span{
    display: inline-grid;

    box-sizing: border-box;
}
span.snake{background: #3E5F70;}
span.target{background: orange;}